{% extends "layout.html" %}

{% block body %}

<h1>Par mums</h1>
<p>Mēs esam grupa programmētāju, kas izveidoja šo mājaslapu kā palīglīdzekli indivīdiem, kas meklē dažāda veida vakances.</p>
<h2>Mūsu mērķi</h2>
<p>Mēs vēlamies piedāvāt katram iespēju atrast piemērotāko vakanci viegli, ērti un ātri.</p>
<h2>Ko mēs piedāvājam?</h2>
<p>Mēs piedāvājam mūsu lietotājiem vieglu pieeju visdažādākajām darbatirgus vakancēm.</p>
<h2>Kontakti</h2>
<h3>E-pasts</h3>
<p>pagaidupastins@email.com</p>
<h3>Telefons</h3>
<p>+222 2222222</p>

{% endblock %}