{% extends "layout.html" %}

{% block body %}

<div id="filterbox"> 
<form action="/" method="post">
  <div class="row g-5">
    <div class="col">
      <input type="text" class="form-control" name="Vakances nosaukums" placeholder="Vakances Nosaukums" aria-label="Vakances nosaukums">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="Vakances kategorija" placeholder="Vakances kategorija" aria-label="Vakances kategorija">
    </div>
    <div class="col">
      <input type="text" class="form-control" name="Alga no" placeholder="Alga no" aria-label="Alga no">


    </div>
    <div class="col">
      <input type="text" class="form-control" name="Alga līdz" placeholder="Alga līdz" aria-label="Alga līdz">
    </div>
    <div class="col">
      <button type="submit" class="btn btn-primary">Meklēt</button>
    </div>
    
  </div>
</form>
<br>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {%for vakance in vakances%}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{vakance["title"]}}</h5>
          <p class="card-text">{{vakance["text"]}}</p>
          <p class="card-text">{{vakance["payfrom"]}}-{{vakance["payto"]}} eur</p>
          <a href={{vakance["link"]}} class="card-text">links</a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  

{% endblock %}