{% extends "layout.html" %}

{% block body %}
<h1>TEMPORARY</h1>
<div id="filterbox"> 
<form action="/" method="post">
    <div class="col">
        <input type="text" class="form-control" name="A1" placeholder="Vakances Nosaukums" aria-label="Vakances nosaukums">
      </div>
      <button type="submit" class="btn btn-primary">Meklēt</button>
</form>
<br>
</div>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {%for vakance in vakances%}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{vakance[3]}}</h5>
          <p class="card-text">{{vakance[4]}}</p>
          <p class="card-text">{{vakance[5]}}-{{vakance[6]}} eur</p>
          <a href={{vakance[]}} class="card-text">links</a>
        </div>
      </div>
    </div>
    {%endfor%}
  </div>
  

{% endblock %}