{% extends "layout.html" %}

{% block body %}

<div class="row row-cols-1 row-cols-md-3 g-4">
    {%for vakance in vakances%}
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{vakance["title"]}}</h5>
          <p class="card-text">{{vakance["text"]}}</p>
          <a href={{vakance["link"]}} class="card-text">links</a>
        </div>
      </div>
    </div>
    {%endfor%}
    <!-- Write your comments here
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>-->


{% endblock %}