<!DOCTYPE html>

<html lang="en">

    <head>
        <meta name="viewport" content="initial-scale=1, width=device-width">
        
        <title>{%block title%}{%endblock%}</title>
    </head>
    
    <br>


    <body>
        <div style = "width:100%; padding: 5pt; background-color: rgb(219, 206, 190);">lorem ipsum</div>
        <div style = "width:100%; padding: 3pt; background-color: rgb(175, 165, 152);">
            <a href="/">Sākums</a>
            <a href="/about">Par mums</a>
        </div>
        {% block body %}{% endblock %}
    </body>

</html>

